.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    overflow: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    color: white;
}

.logo {
    display: flex;
    height: 70px;
}

.logo-img {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.logo-text {
    text-align: center;
    padding: 0px 10px
}

.open-trades {
    width: 100%;
    height: 400px;
    background-color: RGB(35,35,35);
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px 20px;
}

.total-profit {
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-color: RGB(35,35,35);
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px 20px;
}

.data-info {
    display: flex;
    flex-direction: column;
    min-width: 1250px;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.summary {
    display: flex;
    height: 50px;
    width: 100%;
    color: white;
    gap: 10px;
    align-items: center;
}

.graph {
    position: relative;
    width: 100%;
    height: 280px;    
}

.graph .canvasjs-chart-canvas {
    width: 100%;
    height: 250px;
}

.tab {
    width: 100%;
    height: 510px;
}

main {
    background-color: #262626;
}

.tab-container {
    width: 100%;
    height: 460px;
    background-color: RGB(35,35,35);
    display: flex;
    flex-direction: column  ;
    overflow: auto;
}

.overview_val {
    color: red;
}

.combo-group {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    gap: 10px;
}

.overview {
    min-width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.datepicker {
    height: 30px;
    background-color: transparent;
    color: white;
    border-style: none;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 10px;
    width: 100%;
}

.timepicker input {
    color: white!important;
}

.timepicker input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1; /* Firefox */
}

.timepicker {
    background-color: transparent!important;
}

.profitContainer {
    font-size: 12px;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    overflow: auto;
}

.profitContainer::-webkit-scrollbar{
    width: 5px;
}

.profitContainer::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px gray;
    border-radius: 3px;
}

.tab-container::-webkit-scrollbar{
    height: 5px;
}

.tab-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px gray;
    border-radius: 3px;
}

.overview_item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.main::-webkit-scrollbar{
    height: 10px;
}

.main::-webkit-scrollbar-thumb {
    background-color: gray;
    box-shadow: inset 0 0 5px gray;
    border-radius: 3px;
}

.ant-picker-clear {
    display: none!important;
}